* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font-family: 'Barlow', sans-serif; 
font-family: 'Fraunces', serif;*/

.bgTop {
  background-image: url(images/desktop/image-header.jpg);
  /* outline: 2px solid; */
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20rem;
  width: 100%;
  background-position: bottom center;
  color: hsl(0, 0%, 100%);
}

nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
}

nav > h1 {
  padding: 1.5rem;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-size: 1.5em;
}

nav > ul {
  display: flex;
  text-overflow: clip;
}

.nav-bar > li {
  list-style-type: none;
  padding: 1.5rem;
  font-family: "Barlow", sans-serif;
}

.wrapper > img {
  position: relative;
  left: 47%;
  right: 50%;
}

.wrapper > p {
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.egg {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  height: 500px;
}
.egg > img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.egg-text {
  padding: 6rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.egg-text > h3 {
  font-family: "Fraunces", serif;
  /* padding-bottom: 1em; */
  font-weight: 900;
  font-size: 2em;
}

.egg-text > p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  word-spacing: 5px;
  letter-spacing: 1px;
  color: hsl(212, 27%, 19%);
  /* padding: 1em;
  padding-top: 0;
  padding-left: 0;
 */
}

.egg-text > a {
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

.img-flex {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}
.img-items {
  width: 50%;
  height: auto;
  padding: 0;
}
.img-items > img {
  width: 100%;
  height: 500px;
  object-fit: fill;
}

.img-text {
  position: relative;
  bottom: 25%;
  text-align: center;
  text-transform: capitalize;
  padding: 0 1rem;
}

.cherry {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: hsl(167, 40%, 24%);
  /* padding: 1em; */
}

.cherry > p {
  font-weight: 400;
  text-transform: initial;
}

.orange {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: hsl(198, 62%, 26%);
  /* padding: 1em; */
}

.orange > p {
  font-weight: 400;
  text-transform: initial;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-img {
  width: 100%;
}
.client-img > img {
  border-radius: 50%;
  width: 40%;
  position: relative;
  left: 30%;
}

.client-test {
  text-align: center;
  padding-bottom: 3rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 1.3em;
  text-transform: uppercase;
  color: hsl(210, 4%, 67%);
  letter-spacing: 0.1em;
}

.client-text {
  text-align: center;
  line-height: 1.2rem;
  letter-spacing: 0.05rem;
  padding: 1em;
  word-spacing: 2px;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  color: hsl(212, 27%, 19%);
}

.img-gallery {
  display: grid;
  grid-template-columns: repeat(4, auto);
  object-fit: fill;
  border: 0;
  width: 100%;
}

.footer {
  background-color: hsl(168, 39%, 61%);
  /* background-color: hsl(210, 4%, 67%); */
  color: hsl(167, 40%, 24%);
}

.footer > h3 {
  text-align: center;
  padding-top: 2em;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-size: 1.6em;
}

.content {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.logos {
  display: flex;
  align-content: center;
  justify-content: center;
}

.content > li {
  list-style-type: none;
  padding: 1.6em;
}

.logos > li {
  list-style-type: none;
  padding: 1em;
}
.break {
  display: none;
}

.toggle-button {
  display: none;
  flex-direction: column;
  width: 30px;
  height: 21px;
  position: absolute;
  top: 30%;
  right: 10%;
  justify-content: space-between;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
}
/* mobile design */
@media screen and (max-width: 375px) {
  .one {
    flex-direction: column-reverse;
  }

  .two {
    flex-direction: column;
  }

  .egg > img {
    width: 100%;
    /* height: 500px;sssssss */
  }

  .egg-text > h3 {
    padding-top: 1em;
  }
  .egg-text {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .egg-text > a {
    padding-bottom: 1em;
  }

  .img-flex {
    flex-direction: column;
  }
  .img-items {
    width: 100%;
    height: 500px;
  }
  .img-items > img {
    object-fit: fill;
    height: 500px;
  }
  .cherry {
    position: relative;
    bottom: 35%;
  }
  .orange {
    position: relative;
    bottom: 35%;
  }
  .img-gallery {
    display: initial;
    width: 100%;
  }

  .container {
    display: initial;
  }

  .client-test {
    padding-top: 1em;
  }
  .break {
    display: initial;
  }
  .bgTop {
    padding-bottom: 15rem;
  }
  .wrapper > p {
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
  }
  .mobile {
    display: none;
  }
  .toggle-button {
    display: flex;
  }

  .img-gallery {
    grid-template-columns: auto;
  }
}
